
.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
}

.card__image {
    width: 282px;
    height:282px;
    object-fit: cover;
}

.card__description {
    display: flex;
    background-color: #fff;
    color: #000;
    font-family: "Inter", "Arial", sans-serif;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.card__title {
    max-width: 282px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    padding: 25px 20px;
}


.card__like-button {
    background: transparent url(../images/like_inactive.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
