.cards {
    margin-top: 36px;
}

.cards__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin: 0;
    max-width: 880px;
}

@media screen and (max-width: 480px) {
    .cards {
        padding: 0;
    }
    .cards__list {
      padding: 0;
      position: relative;
      margin-top: 36px;
      max-width: 480px;
    }
  }

  @media screen and (max-width: 320px) {
    .cards {
        padding: 0 19px;
    }
  }