.footer {
    color: #545454;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 18px;
    margin: 67px auto 60px;
    width: calc(282px * 3 + 17px * 2);
    margin: 67px auto 60px;
}

@media screen and (max-width: 919px) {
    .footer{
    width: calc(282px + 282px + 17px);
    margin-left: auto;
    margin-right: auto; 
    }
}
@media screen and (max-width: 320px) {
    .footer {
        font-size: 14px;
        width: calc(282px + 17px);
    }
    .footer__copyright {
        margin-top: 48px;
}
    
}
