.header {
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin: 0 auto;
  }

.header__logo {
    margin: 45px 0 41px; 
}

@media screen and (max-width: 800px) {
    .header {
      max-width:720px;
    }
}
@media  screen and (max-width: 320px) {
    .header {
        margin: 0;
        max-width: 320px;
        width: 100vh;
      }

    .header__logo {
        margin: 28px auto 32px 27px;
        height: 24px;
        width: 126px;
      }
}