@media screen and (max-width: 480px) {
    .profile {
    
        flex-direction: column;
        align-items: center;
    }

    .profile__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .profile__description {
        width: 100%;
        text-align: center;
    }

    .profile__add-button {
        display: flex;
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .page {
        padding: 45px 15% 36px;  
    }
}

@media screen and (max-width: 830px) {
    .page {
        padding: 45px 13% 36px;
    }
}

@media  screen and (max-width: 320px) {
    .page {
        padding: 0;
    }

    .header {
        width: 320px;
        justify-content: left;
        padding-bottom: 0;
    }

    .body{
        margin:0;
    }
    .header__logo {
        height: 24px;
        width: 126px;
        padding-left: 19px;
    }
     .content {
        padding: 0 19px;
     }
}