.footer__copyright {
    box-sizing: border-box;
    color: #545454;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 18px;
    margin: 67px auto 60px;
    max-width: calc(282px * 3 + 17px * 2);
}

@media screen and (max-width: 919px) {
    .footer{
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .footer__copyright {
        margin: 48px 19px 36px;
        font-size: 14px;
}
    
}
